<a href="https://colab.research.google.com/github/Rvp127/Music_Recommendation-DT-/blob/main/musicrecommend.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
music_data = pd.read_csv('music.csv')
music_data

    2age  gender      genre
0     20       1    Hip-Hop
1     23       1    Hip-Hop
2     25       1    Hip-Hop
3     26       1       Jazz
4     29       1       Jazz
5     30       1       Jazz
6     31       1  Classical
7     33       1  Classical
8     37       1  Classical
9     20       0      Dance
10    21       0      Dance
11    25       0      Dance
12    26       0   Acoustic
13    27       0   Acoustic
14    30       0   Acoustic
15    31       0  Classical
16    34       0  Classical
17    35       0  Classical

In [15]:
X = music_data.drop(columns=['genre'])
X

    2age  gender
0     20       1
1     23       1
2     25       1
3     26       1
4     29       1
5     30       1
6     31       1
7     33       1
8     37       1
9     20       0
10    21       0
11    25       0
12    26       0
13    27       0
14    30       0
15    31       0
16    34       0
17    35       0

In [16]:
Y = music_data['genre']
Y

0       Hip-Hop
1       Hip-Hop
2       Hip-Hop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

In [17]:

from sklearn.tree import DecisionTreeClassifier



model = DecisionTreeClassifier()
model.fit(X,Y)
music_data

    2age  gender      genre
0     20       1    Hip-Hop
1     23       1    Hip-Hop
2     25       1    Hip-Hop
3     26       1       Jazz
4     29       1       Jazz
5     30       1       Jazz
6     31       1  Classical
7     33       1  Classical
8     37       1  Classical
9     20       0      Dance
10    21       0      Dance
11    25       0      Dance
12    26       0   Acoustic
13    27       0   Acoustic
14    30       0   Acoustic
15    31       0  Classical
16    34       0  Classical
17    35       0  Classical

In [18]:
predictions = model.predict([[21,1],[24,0]])
predictions

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

array(['Hip-Hop', 'Dance'], dtype=object)

In [19]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data = pd.read_csv('music.csv')
X = music_data.drop(columns=['genre'])
Y = music_data['genre']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, Y_train)
predictions = model.predict(X_test)

score = accuracy_score(Y_test, predictions)
score

1.0

In [13]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree

df = pd.read_csv('music.csv')
X = df.drop(columns=['genre'])
Y = df['genre']

model = DecisionTreeClassifier()
model.fit(X,Y)

tree.export_graphviz(model, out_file='music-recommender.dot',
                     feature_names=['age','gender'],
                     class_names=sorted(Y.unique()),
                     label='all',
                     rounded=True,
                     filled=True)